<div style='margin: 0px 20px 0px 20px'>
  <p class='wel'>Welcome <%= @user.email %>  thank you being a part of <span style='font-family: fantasy; font-size: larger; font-weight: 800; color: purple;'>Banking System</span> We are happy that you join us.This is a broad platform for online purchasing and money transfer.We provide flexible platform.More than 100 branches are spread over the world which are serving a lot of people.We are very
  considreate about privacy of the customer.Now you can appply for Account. Once your account has been approved you can do transaction. If you need any help kindly contact us.<p>
  <h5><span style='font-family: fantasy; font-size: larger; font-weight: 800; color: purple;'>Contact number: </span>042678886752</h5>
</div>