<div class='container log'>
  <h2 class='text-center'>Account</h2>
  <div class='show-body'>
    <p><span class='para'><b>Number:</b></span><%= @account.number %></p>
    <hr>
    <p><span class='para'><b>Balance:</b></span><%= @account.balance %></p> 
    <hr>
    <p><span class='para'><b>Status:</b></span><%= @account.status %></p> 
  </div>
</div>